{% set content_fields={
'patents':[('owner','权利人','Owner'),('inventors','发明人 / 作者','Inventors / Authors'),('patent_type','类型','Type'),('country','国家 / 地区','Country / Region'),('application_number','申请号','Application no.'),('grant_number','授权号','Grant no.'),('application_date','申请日期','Filed'),('grant_date','授权日期','Granted'),('legal_status','状态','Status')],
'news':[('published_at','发布日期','Published'),('category','分类','Category')],
'courses':[('semester','学期','Semester'),('audience','授课对象','Audience')],
'research_interests':[] } %}
{% set content_extra={'patents':[],'news':[],'courses':[('references_text','参考资料','References')],'research_interests':[]} %}
